version: "3.8"

services:
  mongodb:
    image: mongo:7.0.4
    container_name: messaging-mongo
    ports:
      - "27017:27017"
    environment:
      MONGO_INITDB_DATABASE: message
    volumes:
      - mongo-data:/data/db

  redis:
    image: redis:7.2
    container_name: redis
    ports:
      - "6379:6379"
    command: ["redis-server", "--appendonly", "yes"]

volumes:
  mongo-data:
